*
{
margin:0;
padding: 0;
box-sizing: border-box;

}

.main-container {
    width : 1200px;
    margin: 0 auto;
}

.wrapper {
    border-bottom   : 1px solid #c1c1c1;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    background-color: #eaeaea;
    border-radius   : 5px 5px 0 0;
}

a {
    text-decoration: none;
    color          : #17a2b8;
}

ul {
    list-style: none;
}
#nav a {
    color:black;
}

#nav {
    margin : 0;
    padding: 10px;
}

#nav {
    display     : inline-block;
    margin-left : 5px;
    margin-right: 5px;
}

.dots-wrapper {
    display: flex;
    padding: 10px;
}

#dot-1 {
    background-color: #FC6058;
}

#dot-2 {
    background-color: #FEC02F;
}

#dot-3 {
    background-color: #2ACA3E;
}

.browser-dot {
    background-color: black;
    height          : 15px;
    width           : 15px;
    border-radius   : 50%;
    margin          : 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow   : -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow        : -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
    grid-area     : left-column;
    padding-top   : 50px;
    padding-bottom: 50px;

}
.main-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #DAB88B;
}
.navigation span a
{

    transform: 0.5s;
    font-size:0em;
}
.navigation.active span a
{
    visibility: visible;
    font-size: 1em;
    transition-delay: .8s;
}
.navigation
{
    position: relative;
    width: 70px;
    height: 70px;
    background: #F3E9DD;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
    display:flex;
    transition-delay: .8s;
}
.navigation.active
{
    width: 200px;
    height: 200px;
    transition-delay: 0s;
   
}

.navigation span
{
    position: absolute;
    width: 7px;
    height: 7px;
    background: #000000;
    justify-content: center;
    align-items: center;
    display:flex;
    border-radius: 50%;
    transition: transform 0.5s,width 0.5s,height 0.5s, 
    background 0.5s ;
    transform: translate(calc(12px*var(--x)),calc(12px*var(--y)));
    transition-delay: calc(.1s*var(--i));
}
.navigation.active span
{
    width:45px ;
    height:45px; 
    background: #fff;
    transform: translate(calc(40px*var(--x)),calc(40px*var(--y)));
}
.navigation span ion-icon{
    transform: 0.5s;
    font-size:0em;
}
.navigation.active span  ion-icon
{
    font-size: 1.55em;
    color: #884f40;
    /* color :rgb(59, 59, 59); */
    
}
.navigation.active span:hover ion-icon
{
    color: #a73c1e;
    filter: drop-shadow(0 0 4px #e6c690)  drop-shadow(0 0 4px #e6c690)   drop-shadow(0 0 4px #e6c690);
}