* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

}

body {
    display         : flex;
    justify-content : center;
    align-items     : center;
    min-height      : 100vh;
    background-color: #f8f8f8;
}

.card {
    position     : relative;
    width        : 300px;
    height       : 400px;
    background   : #ffffff;
    border-radius: 20px;
    box-shadow   : 2px 2px 25px rgba(0, 0, 0, 0.15);
}



.card span {
    position       : absolute;
    top            : -10px;
    left           : -10px;
    width          : 150px;
    height         : 150px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    overflow       : hidden;
}

.card span::before {
    content        : 'Best Vale';
    position       : absolute;
    width          : 200%;
    height         : 40px;
    display        : flex;
    background     : #62baea;
    transform      : rotate(-45deg) translatey(-20px);
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
    font-weight    : 400;
    color          : #ffffff;
    letter-spacing : 0.1em;
    box-shadow     : 0 5px 5px rgba(0, 0, 0, 0.15);
}

.card span::after {
    content            : '';
    position           : absolute;
    bottom             : 0;
    left               : 0;
    width              : 10px;
    height             : 10px;
    z-index            : -1;
    background         : #4a98bf;
    box-shadow: 140px -140px #4a98bf;
    /* display         : flex; */
    /* justify-content : center;
    align-items        : center; */
    /* overflow        : hidden; */
}